#logo {
    width: 250px;
}

.navbarColor {
    background-color: lavender !important;
    padding: 0px !important;
}

.modalColor {
    background-color: lavender !important;
}

/* Used to prevent the menu from wrapping below this width */
body {
    min-width: 405px !important;
}

/*Need this so the line above the buttons on the modal box for the Solar ID goes all the way accross*/
.fixLine{
    padding-left: 15px;
    padding-right: 15px;
}

#solarChartDiv{
    width: 100%;
    min-height: 450px;
}

#startUp {
    display: none;
}

#solarChart {
    display: none;
}

.icon {
    width: 25px;
}

#solarTable, #solarChart, #startUp {
    margin-top: 58px;
}

.tableColor {
    width: 20px;
}

.page-footer {
    font-size: 75%;
    color: black;
}

#menuTableChart {
    width: 53px;
}

